@model Veterinaria.Web.Models.Owner

@{
    ViewBag.Title = "Details";
}

    <div class="row justify-content-center m-3">
        <div class="col-md-10">
            <div class="card mb-4">
                <div class="card-header py-2 bg-dark">
                    <h6 class="text-white">Editar</h6>
                </div>
                <div class="card-body">
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
                        @Html.ActionLink("Cancelar", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>


