@model IEnumerable<Veterinaria.Web.Models.Owner>

@{
    ViewBag.Title = "Index";
}

<h2>Dueños</h2>

<p>
    @Html.ActionLink("Agregar nuevo dueño", "Create")
</p>
<table class="table table-sm table-dark">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
