@{
    ViewBag.Title = "About";
}

    <div class="row justify-content-center">
        <img src="~/Content/img/about.jpg" alt="" class="section-title" style="width: 100%; height: 400px;" />

        <div class="container">
            <h1 class="text-center display-1">Acerca de nosotros</h1>

            <h3 class=" m-3" style="font-size: 40px; text-align: justify; font-family: 'Comic Sans MS, arial, verdana'">
                Nuestra veterinaria cuenta con instalaciones con la ultima tecnologia que existe en el mercado para dar el mejor servicio
                a nuestros clientes, ademas de un gran equipo de trabajo que te atenderan de la mejor manera a ti y a tu mascota durante
                su visita.
            </h3>
        </div>
        
    </div>
