@{
    ViewBag.Title = "Home Page";
}

<img src="~/Content/img/dogscats.jpg" alt="" class="section-title" style="width: 100%; height: 600px;" />

<div class="row justify-content-center m-4">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-dark">
                <h5 class="text-white">Mejor Atención</h5>
            </div>
            <div class="card-body">
                <p>Estamos certificados para realizar cirugías en gatos y perros.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-dark">
                <h5 class="text-white">Todo Acerca de su mascota</h5>
            </div>
            <div class="card-body">
                <p>
                    Ante algún cambio que consideres anormal en tu mascota no dudes en acudir con
                    los expertos para su valoración.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-dark">
                <h5 class="text-white">Consulta Personalizada</h5>
            </div>
            <div class="card-body">
                <p>Duración variable • Precio variable</p>
                <p>
                    Le brindamos a tu mascota la mejor atención durante su consulta.
                    Se sentirá cómodo y en confianza.
                </p>
            </div>
        </div>
    </div>
</div>